.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid orangered;
  padding: 10px;
  font-weight: bold;
  color: palevioletred;
  

}

.header{
  padding: 10px;
  color: blue;
  font-size: larger;
}

body{
  padding: 10px;
  background-color: green;
}
